{% extends "base.html" %}

{% block title %}ReadBook{% endblock %}

{% block page_content %}
    <div class="page-header">
        <h1>你好, {% if current_user.is_authenticated %}{{ current_user.username }}{% else %}陌生人{% endif %}!</h1>

    </div>

    <div>
    {% if current_user.is_authenticated %}
        <div class="row">
            <input type = "button"
                   class="btn btn-primary btn-lg btn-block"
                   value="添加一本书"
                   onclick="location.href='{{ url_for('book.add') }}'">
            </input>
        </div>
        <hr>
        <ul class="users">
            {% for book in books %}
              <strong><a href="{{ url_for('book.view', bookname=book.name) }}">{{ book.name }}</a></strong>
              <small>&mdash; {{ book.dateAdded|datetimeformat }}</small><br>
            {% else %}
            <li><em>There's no book so far.</em>
            {% endfor %}
        </ul>
    {% endif %}
    </div>
{% endblock %}
